<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous" defer></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous" defer></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous" defer></script>

        <link rel="icon" href="{{ url_for('static', filename='images/Camera.png') }}">

        <script src="{{ url_for('static', filename='scripts/LocalStorage.js') }}" defer></script>
        <script src="{{ url_for('static', filename='scripts/Model.js') }}" defer></script>
        <script src="{{ url_for('static', filename='scripts/View.js') }}" defer></script>
        <script src="{{ url_for('static', filename='scripts/Controller.js') }}" defer></script>

        {% block title %}{% endblock %}
    </head>
    <body>
        <nav class="navbar navbar-expand-sm bg-light navbar-light">
            <a class="navbar-brand font-weight-bold" href="{{ url_for('mainList') }}">Main List</a>

            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('create') }}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('history') }}">History</a>
                </li>
            </ul>
        </nav>
                                        
        <div class="jumbotron text-center">
            <h1>Camera Check Out</h1>
            {% block pageTitle %} All Reviews {% endblock %}
            <!--Remind Armaan to center the description for each page, like for history: Everyone who has returned equipment-->
        </div>
        {% block formInfo %}{% endblock %}
    </body>
</html>
