{% extends 'base.html' %}

{% block title %}
    <title>Camera Check Out</title>
{% endblock %}

{% block pageTitle %}
    <h4>Home</h4>
{% endblock %}

{% block formInfo %}
    <div class="container">
        <form method="POST" action="/">

            {{ form.csrf_token }}

            <div class="form-group">
                <button type="submit" class="btn btn-secondary">Submit Information</button>
            </div>

            <!-- Student ID Field -->
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">Student ID</span>
                </div>
                <input type="text" class="form-control {{ 'is-invalid' if form.studentId.errors else '' }}" 
                    placeholder="Enter Student ID" name="studentId" value="{{ form.studentId.data if form.studentId.data else '' }}">
            </div>

            {% if form.studentId.errors %}
                <ul class="errors text-danger">
                    {% for error in form.studentId.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endif %}

            <!-- Equipment ID Field -->
            {% for field in form.equipments %}
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Equipment ID</span>
                    </div>
                    <!-- Render the equipmentId field within the form field -->
                    {{ field.equipmentId(class="form-control", placeholder="Enter Equipment ID") }}
                </div>

                {% if field.equipmentId.errors %}
                    <ul class="errors text-danger">
                        {% for error in field.equipmentId.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endfor %}

            <!-- Date and Time Field -->
            <!-- <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">Date and Time</span>
                </div>
                <input type="datetime-local" class="form-control {{ 'is-invalid' if form.dateTime.errors else '' }}" 
                    name="dateTime" 
                    value="{{ form.dateTime.data.strftime('%Y-%m-%dT%H:%M') if form.dateTime.data else request.form['dateTime'] if request.form.get('dateTime') else '' }}">
            </div>
            {% if form.dateTime.errors %}
                <ul class="errors text-danger">
                    {% for error in form.dateTime.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endif %} -->

   
        </form>
        
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Equipment</th>
                    <th>Date</th>
                    <th>Time</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody id="contents">
                {% for student in checked_out %}
                <tr>
                    <td>{{ student[0] if student[0] else '' }}</td>
                    <td>{{ student[1] if student[1] else '' }}</td>
                    <td>
                        {{ student[2] if student[2] else '' }} 
                        {{ student[3] if student[3] else '' }} 
                        {{ student[4] if student[4] else '' }}
                    </td>
                    <td>{{ student[5] if student[5] else '' }}</td>
                    <td>{{ student[6].strftime('%I:%M %p') if student[6] else '' }}</td>
                    <td>
                        <a href="#" class="btn-link">Edit</a>
                    </td>
                    <td>
                        <form method="POST" action="/history/">
                            <!--Hidden fields to pass student and equipment info-->

                            <input type="hidden" name="hStudentId" value="{{ student[7] }}">
                            <input type="hidden" name="hEquipmentId" value="{{ student[8] }}">

                            <!-- <input type="checkbox" class="form-check-input" onchange="removeRow(this); this.form.submit()"> -->
                            <button type="submit" class="btn btn-dark" onclick="removeRow(this);">Returned?</button>
                        </form>
                    </td>
                      
                </tr>
                {% endfor %}


            </tbody>
        </table>
        
    </div>

    <script>
        function removeRow(button) {
            let row = button.closest('tr');
            setTimeout(function() {
                row.remove();
            }, 500); // 500 milliseconds = 0.5 seconds
        }

        function addEditFunctionality() {
            
        }
    </script>
{% endblock %}