{% extends 'base.html' %}

{% block title %}
    <title>History</title>
{% endblock %}

{% block pageTitle %}
    <h4>History</h4>
{% endblock %}


{% block formInfo %}
<div class="container">
    
    <table class="table table-hover">
        <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Equipment</th>
                <th>Date</th>
                <th>Time</th>
                <th></th>
            </tr>
        </thead>
        <tbody id="contents">
            {% for row in returned %}
            <tr>
                <td>{{ row[0] if row[0] else '' }}</td>
                <td>{{ row[1] if row[1] else '' }}</td>
                <td>
                    {{ row[2] if row[2] else '' }} 
                    {{ row[3] if row[3] else '' }} 
                    {{ row[4] if row[4] else '' }}
                </td>
                <td>{{ row[5] if row[5] else '' }}</td>
                <td>{{ row[6].strftime('%I:%M %p') if row[6] else '' }}</td>                  
            </tr>
            {% endfor %}


        </tbody>
    </table>
    
</div>
{% endblock %}